@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* debug Nahue */

/*  div {
  border: solid 0.1px red;
} 
 */
/* debug Nahue */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.enemy {
  animation: enemy-idle 0.6s steps(2) infinite;
}

.player {
  animation: player-idle 0.4s steps(2) infinite;
}

@keyframes enemy-idle {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
}

@keyframes player-idle {
  0%,
  100% {
    transform: translateY(0) rotate(5deg);
  }
  50% {
    transform: translateY(-2px) rotate(-5deg);
  } }

  @font-face {
    font-family: 'Monserrat';
    src: url(/assets/fonts/monserrant/Montserrat-Regular.woff2) format('woff2');
   }